  .holy-grail-header{
    padding: 0rem;
    border: 1px solid #ededed;
    background-color: #ededed
  }
  
  .holy-grail-header {
    grid-column-start: 3;
    grid-column-end: 1;
    grid-row-start: 2;
  }
  

  
 
  